substrait_consumer/tests/functional/extension_functions/approximation_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/arithmetic_decimal_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/arithmetic_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/boolean_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/comparison_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/datetime_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/logarithmic_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/rounding_snapshots/** linguist-generated=true
substrait_consumer/tests/functional/extension_functions/string_snapshots/** linguist-generated=true
