datafusion==40.1.0
duckdb
filelock
ibis-framework
ibis-substrait
JPype1
protobuf
--extra-index-url https://pypi.fury.io/arrow-nightlies --prefer-binary --pre
pyarrow
pytest
pytest-snapshot
pytest-xdist
substrait
substrait-validator
